---
# ----------------------------------
# Arch Linux Security Hardening
# https://wiki.archlinux.org/title/Security
# ----------------------------------

- name: "{{ ansible_facts['distribution'] }} | Include Firewall Task"
  ansible.builtin.include_tasks: "Arch_firewall.yml"

# -------------------------------
# https://wiki.archlinux.org/title/Security#Mandatory_access_control
# https://wiki.archlinux.org/title/AppArmor
- name: "{{ ansible_facts['distribution'] }} | Install AppArmor"
  community.general.pacman:
    name:
      - apparmor
    state: present
  become: true

- name: "{{ ansible_facts['distribution'] }} | Enable AppArmor service"
  ansible.builtin.systemd:
    name: apparmor.service
    enabled: true
    state: started
  become: true

- name: "{{ ansible_facts['distribution'] }} | Check if LSM parameters already set"
  ansible.builtin.lineinfile:
    path: /etc/default/grub
    regexp: '^GRUB_CMDLINE_LINUX_DEFAULT=.*lsm='
    state: absent
  check_mode: true
  register: lsm_check
  changed_when: false

- name: "{{ ansible_facts['distribution'] }} | Set AppArmor kernel parameters"
  ansible.builtin.replace:
    path: /etc/default/grub
    regexp: '^(GRUB_CMDLINE_LINUX_DEFAULT="[^"]*)"$'
    replace: '\1 lsm=landlock,lockdown,yama,integrity,apparmor,bpf"'
  when: lsm_check.found == 0
  notify: Update GRUB
  become: true
