---
- name: "Checking tasks for {{ ansible_facts['distribution'] }}"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_facts['distribution'] }}.yml"
  register: quickshell_tasks

- name: "Run tasks for {{ ansible_facts['distribution'] }}"
  ansible.builtin.include_tasks: "{{ ansible_facts['distribution'] }}.yml"
  when: quickshell_tasks.stat.exists

# - name: "Deploy config symlink"
#   ansible.builtin.include_tasks: "{{ playbook_dir }}/tasks/deploy_config.yml"
#   vars:
#     app_name: Quickshell
#     dest_path: "{{ ansible_facts['user_dir'] }}/.config/quickshell"

# -------------------------------
#   Install Noctalia Shell
# -------------------------------
# Source: https://github.com/noctalia-dev/noctalia-shell/
- name: "[Noctalia Shell] Read current version file"
  ansible.builtin.set_fact:
    noctalia_current_version: "{{ lookup('file', ansible_facts['user_dir'] + '/.config/quickshell/.noctalia_version', errors='ignore') | default('none', true) | trim }}"

- name: "[Noctalia Shell] Get latest version info"
  ansible.builtin.uri:
    url: https://api.github.com/repos/noctalia-dev/noctalia-shell/releases/latest
    body_format: json
    return_content: true
  register: response

- name: "[Noctalia Shell] Version comparison"
  ansible.builtin.debug:
    msg:
    - "Current version: {{ 'Not installed' if noctalia_current_version == 'none' else noctalia_current_version }}"
    - "Latest version: {{ response.json.tag_name }}"

- name: "[Noctalia Shell] Download and install"
  when: noctalia_current_version != response.json.tag_name
  block:
    - name: "[Noctalia Shell] Clean quickshell directory"
      ansible.builtin.file:
        path: "{{ ansible_facts['user_dir'] }}/.config/quickshell"
        state: "{{ item }}"
        mode: '0755'
      loop:
        - absent
        - directory

    - name: "[Noctalia Shell] Download and extract"
      ansible.builtin.unarchive:
        src: "https://github.com/noctalia-dev/noctalia-shell/releases/latest/download/noctalia-latest.tar.gz"
        dest: "{{ ansible_facts['user_dir'] }}/.config/quickshell"
        extra_opts: [--strip-components=1]
        remote_src: yes

    - name: "[Noctalia Shell] Register installed version to file"
      ansible.builtin.copy:
        content: "{{ response.json.tag_name }}"
        dest: "{{ ansible_facts['user_dir'] }}/.config/quickshell/.noctalia_version"
        mode: '0644'
