---
- name: "{{ ansible_facts['distribution'] }} | [AUR] Install Walker"
  kewlfft.aur.aur:
    use: "{{ aur_helper }}"
    name:
      - walker
      - elephant
    state: present
  become: true
  become_user: aur_builder
  register: walker_install

- name: "{{ ansible_facts['distribution'] }} | Install Walker optional dependencies"
  community.general.pacman:
    name:
      - openbsd-netcat # Networking - Netcat for walker socket
    state: present
  become: true

- name: "{{ ansible_facts['distribution'] }} | [AUR] Install Walker optional dependencies"
  kewlfft.aur.aur:
    use: "{{ aur_helper }}"
    name:
      - elephant-nirisessions
      - elephant-calc
      - elephant-bluetooth
      - elephant-desktopapplications
      - elephant-files
      - elephant-menus
      - elephant-providerlist
      - elephant-runner
      - elephant-symbols
      - elephant-unicode
      - elephant-todo
    state: present
  become: true
  become_user: aur_builder

# run elephant service enable cmd
- name: "{{ ansible_facts['distribution'] }} | Generate and Enable Elephant service"
  ansible.builtin.command: elephant service enable
  when: walker_install.changed

