---
- name: "{{ role_name | capitalize }} | Checking for {{ ansible_distribution }} Config"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_distribution }}.yml"
  register: distribution_config

- name: "{{ role_name | capitalize }} | Run {{ ansible_distribution }} Tasks"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yml"
  when: distribution_config.stat.exists

- name: "{{ role_name | capitalize }} | Setup Yazi Config Symlink"
  ansible.builtin.include_tasks: "../../../tasks/config_symlink.yml"
  vars:
    app_name: "Yazi"
    config_dir_name: "yazi"