---
# https://www.siberoloji.com/how-to-stream-audio-with-obs-on-arch-linux/
#
- name: "{{ ansible_facts['distribution'] }} | Install audio packages"
  community.general.pacman:
    name:
      - pipewire
      - pipewire-audio
      - pipewire-jack
      - pipewire-pulse
      # - pipewire-v4l2
      - wireplumber
      # - lib32-pipewire
      # - lib32-pipewire-jack
      # - lib32-pipewire-v4l2
      - pavucontrol
      - easyeffects
      - lsp-plugins
      - lsp-plugins-lv2
      # - helvum # JACK-like routing | graphical PipeWire patchbay
    state: present
  become: true

- name: "{{ ansible_facts['distribution'] }} | Enable pipewire service"
  ansible.builtin.systemd:
    name: pipewire.service
    enabled: true
    scope: user

- name: "{{ ansible_facts['distribution'] }} | Enable wireplumber service"
  ansible.builtin.systemd:
    name: wireplumber.service
    enabled: true
    scope: user