---
- name: "Main | Checking for {{ ansible_distribution }} Config"
  ansible.builtin.stat:
    path: "{{ role_path }}/tasks/{{ ansible_distribution }}.yml"
  register: distribution_config

- name: "Main | Run {{ ansible_distribution }} Tasks"
  ansible.builtin.include_tasks: "{{ ansible_distribution }}.yml"
  when: distribution_config.stat.exists

- name: "Main | Setup WezTerm Config Symlink"
  ansible.builtin.include_tasks: "../../../tasks/config_symlink.yml"
  vars:
    app_name: "WezTerm"
    config_dir_name: "wezterm"