---
- name: "{{ ansible_facts['distribution'] }} | [AUR] Install OBS Studio"
  kewlfft.aur.aur:
    use: "{{ aur_helper }}"
    name: obs-studio-git
    state: present
  become: true
  become_user: aur_builder

- name: "{{ ansible_facts['distribution'] }} | Install OBS Studio dependencies"
  community.general.pacman:
    name:
      - v4l2loopback-dkms
    state: present
  become: true
