---
# -------------------------------
#   Pacman
# -------------------------------

# - name: "{{ ansible_facts['distribution'] }} | [AUR] Install rate-mirrors"
#   kewlfft.aur.aur:
#     use: "{{ aur_helper }}"
#     name: rate-mirrors-bin
#     state: present
#   become: true
#   become_user: aur_builder
#   register: rate_mirrors_install

# - name: "{{ ansible_facts['distribution'] }} | Backup Pacman Mirrorlist"
#   ansible.builtin.copy:
#     src: /etc/pacman.d/mirrorlist
#     dest: /etc/pacman.d/mirrorlist.backup
#     backup: yes
#   become: true
#   when: rate_mirrors_install.changed

# - name: "{{ ansible_facts['distribution'] }} | Optimize Pacman Mirrors"
#   ansible.builtin.command:
#     cmd: rate-mirrors --allow-root --protocol https arch | grep -v '^#' | sudo tee /etc/pacman.d/mirrorlist
#   become: true
#   when: rate_mirrors_install.changed

- name: "{{ ansible_facts['distribution'] }} | Pacman Config - Set Parallel downloads to 10"
  ansible.builtin.replace:
    path: /etc/pacman.conf
    regexp: '^#?ParallelDownloads = \d+$'
    replace: 'ParallelDownloads = 10'
  become: true

- name: "{{ ansible_facts['distribution'] }} | Pacman Config - Uncomment Color option"
  ansible.builtin.replace:
    path: /etc/pacman.conf
    regexp: '^#?Color$'
    replace: 'Color'
    backup: yes
  become: true

- name: "{{ ansible_facts['distribution'] }} | Pacman Config - Uncomment VerbosePkgLists option"
  ansible.builtin.replace:
    path: /etc/pacman.conf
    regexp: '^#?VerbosePkgLists$'
    replace: 'VerbosePkgLists'
  become: true

- name: "{{ ansible_facts['distribution'] }} | Pacman Config - Add ILoveCandy option"
  ansible.builtin.lineinfile:
    path: /etc/pacman.conf
    insertafter: '^Color$'
    line: 'ILoveCandy'
    state: present
  become: true

# -------------------------------
#   Flatpak
# -------------------------------
- name: "{{ ansible_facts['distribution'] }} | Install Flatpak"
  community.general.pacman:
    name:
      - flatpak
    state: present
  become: true

- name: "{{ ansible_facts['distribution'] }} | Add the Flathub repository"
  community.general.flatpak_remote:
    name: flathub
    state: present
    flatpakrepo_url: https://dl.flathub.org/repo/flathub.flatpakrepo
    method: "{{ item }}"
  become: "{{ true if item == 'system' else false }}"
  loop:
    - system
    - user
  register: flathub_repo

- name: "{{ ansible_facts['distribution'] }} | Add Flathub Beta repository"
  community.general.flatpak_remote:
    name: flathub-beta
    state: present
    flatpakrepo_url: https://flathub.org/beta-repo/flathub-beta.flatpakrepo
    method: "{{ item }}"
  become: "{{ true if item == 'system' else false }}"
  loop:
    - system
    - user
  register: flathub_beta_repo

- name: "{{ ansible_facts['distribution'] }} | Update flatpak application database"
  ansible.builtin.command:
    cmd: flatpak update --appstream
  when: flathub_repo.changed or flathub_beta_repo.changed