---
- name: "{{ role_name | capitalize }} | {{ ansible_distribution }} | Install Neovim"
  community.general.pacman:
    name:
      - neovim
    state: present
  become: true

- name: "{{ role_name | capitalize }} | {{ ansible_distribution }} | Set Neovim as default editor in /etc/environment"
  ansible.builtin.lineinfile:
    path: /etc/environment
    line: "{{ item }}"
    create: yes
    mode: '0644'
  become: true
  loop:
    - "EDITOR=nvim"
    - "VISUAL=nvim"