---
# Based on the info @ https://github.com/davgar99/arch-linux-font-improvement-guide
- name: "{{ role_name | capitalize }} | {{ ansible_distribution }} | Install fonts"
  community.general.pacman:
    name:
      # Core Noto fonts
      - noto-fonts
      - noto-fonts-cjk
      - noto-fonts-emoji
      - noto-fonts-extra
      # Optional but recommended
      - ttf-liberation
      - ttf-dejavu
      - ttf-roboto
      # Monospaced fonts
      - ttf-jetbrains-mono
      - ttf-jetbrains-mono-nerd
      - ttf-fira-code
      - ttf-hack
      - adobe-source-code-pro-fonts
      # Nerd fonts and symbols
      - ttf-nerd-fonts-symbols
      - ttf-nerd-fonts-symbols-mono
      # X11
      # - xorg-xrdb
    state: present
  become: true

- name: "{{ role_name | capitalize }} | {{ ansible_distribution }} | Install Symbola font"
  kewlfft.aur.aur:
    use: "{{ aur_helper }}"
    name:
      - ttf-symbola
      - ttf-material-symbols-variable-git # quickshell - Ly-sec/Noctalia
    state: present
  become: true
  become_user: aur_builder

- name: "{{ role_name | capitalize }} | {{ ansible_distribution }} | Create fontconfig directory"
  ansible.builtin.file:
    path: "{{ ansible_user_dir }}/.config/fontconfig/conf.d"
    state: directory
    mode: '0755'

- name: "{{ role_name | capitalize }} | {{ ansible_distribution }} | Create symlink for global font configuration"
  ansible.builtin.file:
    src: "{{ role_path }}/files/local.conf"
    dest: /etc/fonts/local.conf
    state: link
    force: true
  become: true

- name: "{{ role_name | capitalize }} | {{ ansible_distribution }} | Create symlink for bitmap font disable configuration"
  ansible.builtin.file:
    src: "{{ role_path }}/files/20-no-embedded.conf"
    dest: "{{ ansible_user_dir }}/.config/fontconfig/conf.d/20-no-embedded.conf"
    state: link
    force: true

- name: "{{ role_name | capitalize }} | {{ ansible_distribution }} | Create symbolic links for font rendering"
  ansible.builtin.file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: true
  become: true
  loop:
    - src: /usr/share/fontconfig/conf.avail/10-sub-pixel-rgb.conf
      dest: /etc/fonts/conf.d/10-sub-pixel-rgb.conf
    - src: /usr/share/fontconfig/conf.avail/10-hinting-slight.conf
      dest: /etc/fonts/conf.d/10-hinting-slight.conf
    - src: /usr/share/fontconfig/conf.avail/11-lcdfilter-default.conf
      dest: /etc/fonts/conf.d/11-lcdfilter-default.conf

- name: "{{ role_name | capitalize }} | {{ ansible_distribution }} | Configure freetype2 subpixel rendering"
  ansible.builtin.lineinfile:
    path: /etc/profile.d/freetype2.sh
    regexp: '^#export FREETYPE_PROPERTIES'
    line: 'export FREETYPE_PROPERTIES="truetype:interpreter-version=40"'
    backup: true
  become: true

# - name: "{{ role_name | capitalize }} | {{ ansible_distribution }} | Create symlink for .Xresources X11 font settings"
#   ansible.builtin.file:
#     src: "{{ role_path }}/files/.Xresources"
#     dest: "{{ ansible_user_dir }}/.Xresources"
#     state: link
#     force: true
#   register: xresources_created

# - name: "{{ role_name | capitalize }} | {{ ansible_distribution }} | Apply .Xresources settings"
#   ansible.builtin.command: xrdb -merge ~/.Xresources
#   when: xresources_created is changed
#   ignore_errors: true

- name: "{{ role_name | capitalize }} | {{ ansible_distribution }} | Refresh font cache"
  ansible.builtin.command: fc-cache -fv
  become: true